
bin
obj
 
*.user
*.suo
 
packages/Autofac.3.5.2/Autofac.3.5.2.nupkg
packages/Autofac.3.5.2/lib/net40/Autofac.dll
packages/Autofac.3.5.2/lib/net40/Autofac.xml
packages/Autofac.3.5.2/lib/portable-net4+sl5+netcore45+wpa81+wp8+MonoAndroid1+MonoTouch1/Autofac.dll
packages/Autofac.3.5.2/lib/portable-net4+sl5+netcore45+wpa81+wp8+MonoAndroid1+MonoTouch1/Autofac.xml
packages/Dapper.1.42/Dapper.1.42.nupkg
packages/Dapper.1.42/lib/net35/Dapper.dll
packages/Dapper.1.42/lib/net35/Dapper.pdb
packages/Dapper.1.42/lib/net35/Dapper.xml
packages/Dapper.1.42/lib/net40/Dapper.dll
packages/Dapper.1.42/lib/net40/Dapper.pdb
packages/Dapper.1.42/lib/net40/Dapper.xml
packages/Dapper.1.42/lib/net45/Dapper.dll
packages/Dapper.1.42/lib/net45/Dapper.pdb
packages/Dapper.1.42/lib/net45/Dapper.xml
packages/MySql.Data.6.9.8/CHANGES
packages/MySql.Data.6.9.8/content/app.config.transform
packages/MySql.Data.6.9.8/content/web.config.transform
packages/MySql.Data.6.9.8/lib/net20/MySql.Data.dll
packages/MySql.Data.6.9.8/lib/net20-cf/MySql.Data.CF.dll
packages/MySql.Data.6.9.8/lib/net40/MySql.Data.dll
packages/MySql.Data.6.9.8/lib/net45/MySql.Data.dll
packages/MySql.Data.6.9.8/MySql.Data.6.9.8.nupkg
packages/MySql.Data.6.9.8/Readme.txt
packages/repositories.config
RCodeGenerator.sln.DotSettings
RCodeGenerator.sln.GhostDoc.xml
RCodeGenerator/bin/Debug/Autofac.dll
RCodeGenerator/bin/Debug/Autofac.xml
RCodeGenerator/bin/Debug/Dapper.dll
RCodeGenerator/bin/Debug/Dapper.pdb
RCodeGenerator/bin/Debug/Dapper.xml
RCodeGenerator/bin/Debug/MySql.Data.dll
RCodeGenerator/bin/Debug/RCodeGenerator.exe
RCodeGenerator/bin/Debug/RCodeGenerator.exe.config
RCodeGenerator/bin/Debug/RCodeGenerator.pdb
RCodeGenerator/bin/Debug/RCodeGenerator.vshost.exe
RCodeGenerator/bin/Debug/RCodeGenerator.vshost.exe.config
RCodeGenerator/bin/Debug/Repository.dll
RCodeGenerator/bin/Debug/Repository.pdb
RCodeGenerator/bin/Debug/Service.dll
RCodeGenerator/bin/Debug/Service.pdb
RCodeGenerator/obj/Debug/App.g.cs
RCodeGenerator/obj/Debug/App.g.i.cs
RCodeGenerator/obj/Debug/DesignTimeResolveAssemblyReferences.cache
RCodeGenerator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RCodeGenerator/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
RCodeGenerator/obj/Debug/MainWindow.baml
RCodeGenerator/obj/Debug/MainWindow.g.cs
RCodeGenerator/obj/Debug/MainWindow.g.i.cs
RCodeGenerator/obj/Debug/RCodeGenerator.csproj.FileListAbsolute.txt
RCodeGenerator/obj/Debug/RCodeGenerator.csproj.GenerateResource.Cache
RCodeGenerator/obj/Debug/RCodeGenerator.csprojResolveAssemblyReference.cache
RCodeGenerator/obj/Debug/RCodeGenerator.exe
RCodeGenerator/obj/Debug/RCodeGenerator.g.resources
RCodeGenerator/obj/Debug/RCodeGenerator.pdb
RCodeGenerator/obj/Debug/RCodeGenerator.Properties.Resources.resources
RCodeGenerator/obj/Debug/RCodeGenerator_Content.g.cs
RCodeGenerator/obj/Debug/RCodeGenerator_Content.g.i.cs
RCodeGenerator/obj/Debug/RCodeGenerator_MarkupCompile.cache
RCodeGenerator/obj/Debug/RCodeGenerator_MarkupCompile.i.cache
RCodeGenerator/obj/Debug/RCodeGenerator_MarkupCompile.lref
RCodeGenerator/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RCodeGenerator/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RCodeGenerator/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RCodeGenerator/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
RCodeGenerator/obj/Debug/TempPE/Template.Model.cs.dll
RCodeGenerator/obj/Debug/TempPE/Template.Repository.cs.dll
Repositroy/bin/Debug/Dapper.dll
Repositroy/bin/Debug/Dapper.pdb
Repositroy/bin/Debug/Dapper.xml
Repositroy/bin/Debug/MySql.Data.dll
Repositroy/bin/Debug/Repository.dll
Repositroy/bin/Debug/Repository.dll.config
Repositroy/bin/Debug/Repository.pdb
Repositroy/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Repositroy/obj/Debug/Repository.csproj.FileListAbsolute.txt
Repositroy/obj/Debug/Repository.csprojResolveAssemblyReference.cache
Repositroy/obj/Debug/Repository.dll
Repositroy/obj/Debug/Repository.pdb
Repositroy/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Repositroy/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Repositroy/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Service/bin/Debug/Dapper.dll
Service/bin/Debug/Dapper.pdb
Service/bin/Debug/Dapper.xml
Service/bin/Debug/MySql.Data.dll
Service/bin/Debug/Repository.dll
Service/bin/Debug/Repository.pdb
Service/bin/Debug/Service.dll
Service/bin/Debug/Service.pdb
Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Service/obj/Debug/Service.csproj.FileListAbsolute.txt
Service/obj/Debug/Service.csprojResolveAssemblyReference.cache
Service/obj/Debug/Service.dll
Service/obj/Debug/Service.pdb
Service/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Service/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Service/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
